In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
demographics = pd.read_csv('Data/demographics.csv',header=13)

In [3]:
demographics

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Female total,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other,Male total,Total
0,2001,Ghana,GHA,Senegal,SEN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31
1,2001,Guinea-Bissau,GNB,Senegal,SEN,10,22,19,152,0,0,203,17,26,22,338,0,0,403,606
2,2001,Guinea,GIN,Senegal,SEN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,29
3,2001,Cote d'Ivoire,CIV,Senegal,SEN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17
4,2001,India,IND,Senegal,SEN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97358,2022,Syrian Arab Rep.,SYR,Sweden,SWE,0,0,0,0,0,447,447,0,0,0,0,0,786,786,112432
97359,2022,United Rep. of Tanzania,TZA,Sweden,SWE,0,0,0,0,0,20,20,0,0,0,0,0,18,18,106
97360,2022,Thailand,THA,Sweden,SWE,0,0,0,0,0,10,10,0,0,0,0,0,0,0,15
97361,2022,Tajikistan,TJK,Sweden,SWE,0,0,0,0,0,21,21,0,0,0,0,0,46,46,146
97362,2022,Turkmenistan,TKM,Sweden,SWE,0,0,0,0,0,6,6,0,0,0,0,0,10,10,40

In [4]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97363 entries, 0 to 97362
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     97363 non-null  int64
 1   Country of origin        97363 non-null  object
 2   Country of origin (ISO)  97363 non-null  object
 3   Country of asylum        97363 non-null  object
 4   Country of asylum (ISO)  97363 non-null  object
 5   Female 0 - 4             97363 non-null  int64
 6   Female 5 - 11            97363 non-null  int64
 7   Female 12 - 17           97363 non-null  int64
 8   Female 18 - 59           97363 non-null  int64
 9   Female 60                97363 non-null  int64
 10  Female other             97363 non-null  int64
 11  Female total             97363 non-null  int64
 12  Male 0 - 4               97363 non-null  int64
 13  Male 5 - 11              97363 non-null  int64
 14  Male 12 - 17             97363 non-null  int64
 15  Male 18 - 59             97363 non-null  int64
 16  Male 60                  97363 non-null  int64
 17  Male other               97363 non-null  int64
 18  Male total               97363 non-null  int64
 19  Total                    97363 non-null  int64
dtypes: int64(16), object(4)
memory usage: 14.9+ MB

In [5]:
demographics.describe()

,Year,Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Female total,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other,Male total,Total
count,97363.000000,97363.000000,97363.000000,97363.000000,9.736300e+04,97363.000000,9.736300e+04,9.736300e+04,97363.000000,97363.000000,97363.000000,9.736300e+04,97363.000000,9.736300e+04,9.736300e+04,9.736300e+04
mean,2012.595514,295.940522,418.438596,303.424330,1.032268e+03,111.271099,9.481367e+02,3.109479e+03,301.816398,429.492918,322.484630,1.052139e+03,103.207902,9.170325e+02,3.126173e+03,1.033052e+04
std,6.304042,6816.131300,8613.690460,6369.686507,2.214430e+04,3568.811993,3.849499e+04,5.970375e+04,6863.459479,8698.115269,6603.121512,2.146388e+04,3124.194643,3.663958e+04,5.787400e+04,1.672151e+05
min,2001.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,5.000000e+00
25%,2007.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,8.000000e+00
50%,2013.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,3.100000e+01
75%,2018.000000,0.000000,0.000000,0.000000,5.000000e+00,0.000000,0.000000e+00,1.000000e+01,0.000000,0.000000,0.000000,7.000000e+00,0.000000,0.000000e+00,1.800000e+01,2.380000e+02
max,2022.000000,577219.000000,686795.000000,635479.000000,2.373314e+06,707000.000000,4.307158e+06,4.533769e+06,524619.000000,693286.000000,577761.000000,2.241554e+06,507000.000000,4.069254e+06,4.219019e+06,2.199071e+07

In [6]:
sirya = demographics[(demographics['Year']==2022) & ((demographics['Country of origin']=='Syrian Arab Rep.'))]
sirya.sort_values(by='Total',ascending=False).head(30)

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Female total,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other,Male total,Total
94272,2022,Syrian Arab Rep.,SYR,Syrian Arab Rep.,SYR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21990714
94419,2022,Syrian Arab Rep.,SYR,TÃ¼rkiye,TUR,268310,330634,205516,781379,59151,0,1644990,286939,350580,227039,973061,53289,0,1890908,3535898
95407,2022,Syrian Arab Rep.,SYR,Lebanon,LBN,53576,96681,68693,193518,11570,0,424038,55791,100377,71721,155701,9419,0,393009,817047
95186,2022,Syrian Arab Rep.,SYR,Jordan,JOR,42426,67143,49294,156778,15705,0,331346,43796,71099,51789,151566,11296,0,329546,660892
93655,2022,Syrian Arab Rep.,SYR,Germany,DEU,23736,37457,27016,122055,8419,25,218708,24826,40624,34324,247829,9942,115,357660,576793
94972,2022,Syrian Arab Rep.,SYR,Iraq,IRQ,19360,24702,12586,60997,4807,0,122452,20301,25967,13667,71203,3849,0,134987,257439
92380,2022,Syrian Arab Rep.,SYR,Egypt,EGY,6153,11666,9542,37095,3933,0,68389,6557,12097,10660,44093,3862,0,77269,145658
97358,2022,Syrian Arab Rep.,SYR,Sweden,SWE,0,0,0,0,0,447,447,0,0,0,0,0,786,786,112432
97139,2022,Syrian Arab Rep.,SYR,Sudan,SDN,1550,8749,6341,23543,1531,0,41714,1588,10091,6837,31451,1797,0,51764,93478
91667,2022,Syrian Arab Rep.,SYR,Austria,AUT,0,0,0,0,0,2572,2572,0,0,0,0,0,14672,14672,91167
96144,2022,Syrian Arab Rep.,SYR,Netherlands (Kingdom of the),NLD,0,0,0,0,0,1633,1633,0,0,0,0,0,10339,10339,68557
93787,2022,Syrian Arab Rep.,SYR,Greece,GRC,0,0,0,0,0,457,457,0,0,0,0,0,2063,2063,45347
93290,2022,Syrian Arab Rep.,SYR,France,FRA,0,0,0,0,0,18692,18692,0,0,0,0,0,21647,21647,41331
92134,2022,Syrian Arab Rep.,SYR,Bulgaria,BGR,0,0,0,0,0,637,637,0,0,0,0,0,5058,5058,29421
94230,2022,Syrian Arab Rep.,SYR,Switzerland,CHE,284,533,409,1923,269,0,3418,290,589,502,2579,235,10,4205,20794
92832,2022,Syrian Arab Rep.,SYR,Cyprus,CYP,0,0,0,0,0,1414,1414,0,0,0,0,0,8090,8090,20406
91820,2022,Syrian Arab Rep.,SYR,Belgium,BEL,0,0,0,0,0,7864,7864,0,0,0,0,0,12439,12439,20303
93461,2022,Syrian Arab Rep.,SYR,United Kingdom of Great Britain and Northern I...,GBR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20054
92943,2022,Syrian Arab Rep.,SYR,Denmark,DNK,0,0,0,0,0,115,115,0,0,0,0,0,191,191,19459
97098,2022,Syrian Arab Rep.,SYR,Spain,ESP,0,0,0,0,0,7529,7529,0,0,0,0,0,9781,9781,17310
96291,2022,Syrian Arab Rep.,SYR,Norway,NOR,0,0,0,0,0,165,165,0,0,0,0,0,1124,1124,17253
95369,2022,Syrian Arab Rep.,SYR,Libya,LBY,975,1575,875,3056,163,0,6644,1094,1595,1026,3924,179,0,7818,14462
94713,2022,Syrian Arab Rep.,SYR,United States of America,USA,0,5,49,264,20,5,343,0,23,41,475,25,52,616,11944
92052,2022,Syrian Arab Rep.,SYR,Brazil,BRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7809
92321,2022,Syrian Arab Rep.,SYR,Algeria,DZA,350,727,390,1508,70,0,3045,413,807,456,3001,81,0,4758,7803
94439,2022,Syrian Arab Rep.,SYR,United Arab Emirates,ARE,58,721,637,1841,142,0,3399,68,787,634,1903,169,0,3561,6960
95906,2022,Syrian Arab Rep.,SYR,Morocco,MAR,320,489,309,1191,82,0,2391,365,501,345,1803,111,0,3125,5516
91470,2022,Syrian Arab Rep.,SYR,Armenia,ARM,25,40,32,188,49,10,344,23,41,48,244,55,9,420,4912
95136,2022,Syrian Arab Rep.,SYR,Italy,ITA,0,0,0,0,0,359,359,0,0,0,0,0,552,552,4489
96921,2022,Syrian Arab Rep.,SYR,Saudi Arabia,SAU,88,475,345,929,72,0,1909,110,535,357,950,85,0,2037,3946

In [58]:
# quiero coger el dataframe sirya y sumar la columna Total
demographics[demographics['Year']==2022]['Total'].sum()

130488262

In [8]:
# quiero eliminar las filas que en country origin y country asylum aparezca el mismo valor
demographics2222 = demographics[demographics['Country of origin']==demographics['Country of asylum']]

In [9]:
demographics2222

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Female total,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other,Male total,Total
827,2001,Liberia,LBR,Liberia,LBR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,196116
869,2001,Sri Lanka,LKA,Sri Lanka,LKA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,731838
894,2001,North Macedonia,MKD,North Macedonia,MKD,493,1096,949,4575,954,0,8067,576,1181,1032,4468,898,0,8155,16371
903,2001,Rep. of Moldova,MDA,Rep. of Moldova,MDA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1000
1135,2001,Netherlands (Kingdom of the),NLD,Netherlands (Kingdom of the),NLD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96994,2022,Somalia,SOM,Somalia,SOM,384005,328204,168858,605494,16334,0,1502895,404477,343048,169153,530299,17803,0,1464780,2967675
97137,2022,Sudan,SDN,Sudan,SDN,196707,383455,250060,703024,90715,0,1623961,254649,492081,321693,754125,106208,0,1928756,3552717
97149,2022,Suriname,SUR,Suriname,SUR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5
97160,2022,South Sudan,SSD,South Sudan,SSD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1846273
97254,2022,Eswatini,SWZ,Eswatini,SWZ,0,0,0,12,0,0,12,0,0,0,0,0,0,0,12

In [10]:
population = pd.read_csv('Data/population.csv',header=13)

In [21]:
pops = population[population['Year']==2022]
popss = pops[pops['Country of origin']=='Somalia']
popss.groupby('Country of origin')['IDPs of concern to UNHCR'].sum().sort_values(ascending=False).head(10)

Country of origin
Somalia    2967500
Name: IDPs of concern to UNHCR, dtype: int64

In [ ]:
# vemos que en demographics cuando el origen y asylum son el mismo pais se refiere a la poblaciÃ³n que se ha desplazado internamente
# corresponde a la columna IDPs of concern to UNHCR en el dataframe populationm hay que tenerlo en cuenta cuando sumemos los valores

In [67]:
sirya = demographics[(demographics['Year']==2022) & ((demographics['Country of origin']=='Syrian Arab Rep.'))]
sirya.sort_values(by='Total',ascending=False).head(30)

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Female 0 - 4,Female 5 - 11,Female 12 - 17,Female 18 - 59,Female 60,Female other,Female total,Male 0 - 4,Male 5 - 11,Male 12 - 17,Male 18 - 59,Male 60,Male other,Male total,Total
94419,2022,Syrian Arab Rep.,SYR,TÃ¼rkiye,TUR,268310,330634,205516,781379,59151,0,1644990,286939,350580,227039,973061,53289,0,1890908,3535898
95407,2022,Syrian Arab Rep.,SYR,Lebanon,LBN,53576,96681,68693,193518,11570,0,424038,55791,100377,71721,155701,9419,0,393009,817047
95186,2022,Syrian Arab Rep.,SYR,Jordan,JOR,42426,67143,49294,156778,15705,0,331346,43796,71099,51789,151566,11296,0,329546,660892
93655,2022,Syrian Arab Rep.,SYR,Germany,DEU,23736,37457,27016,122055,8419,25,218708,24826,40624,34324,247829,9942,115,357660,576793
94972,2022,Syrian Arab Rep.,SYR,Iraq,IRQ,19360,24702,12586,60997,4807,0,122452,20301,25967,13667,71203,3849,0,134987,257439
92380,2022,Syrian Arab Rep.,SYR,Egypt,EGY,6153,11666,9542,37095,3933,0,68389,6557,12097,10660,44093,3862,0,77269,145658
97358,2022,Syrian Arab Rep.,SYR,Sweden,SWE,0,0,0,0,0,447,447,0,0,0,0,0,786,786,112432
97139,2022,Syrian Arab Rep.,SYR,Sudan,SDN,1550,8749,6341,23543,1531,0,41714,1588,10091,6837,31451,1797,0,51764,93478
91667,2022,Syrian Arab Rep.,SYR,Austria,AUT,0,0,0,0,0,2572,2572,0,0,0,0,0,14672,14672,91167
96144,2022,Syrian Arab Rep.,SYR,Netherlands (Kingdom of the),NLD,0,0,0,0,0,1633,1633,0,0,0,0,0,10339,10339,68557
93787,2022,Syrian Arab Rep.,SYR,Greece,GRC,0,0,0,0,0,457,457,0,0,0,0,0,2063,2063,45347
93290,2022,Syrian Arab Rep.,SYR,France,FRA,0,0,0,0,0,18692,18692,0,0,0,0,0,21647,21647,41331
92134,2022,Syrian Arab Rep.,SYR,Bulgaria,BGR,0,0,0,0,0,637,637,0,0,0,0,0,5058,5058,29421
94230,2022,Syrian Arab Rep.,SYR,Switzerland,CHE,284,533,409,1923,269,0,3418,290,589,502,2579,235,10,4205,20794
92832,2022,Syrian Arab Rep.,SYR,Cyprus,CYP,0,0,0,0,0,1414,1414,0,0,0,0,0,8090,8090,20406
91820,2022,Syrian Arab Rep.,SYR,Belgium,BEL,0,0,0,0,0,7864,7864,0,0,0,0,0,12439,12439,20303
93461,2022,Syrian Arab Rep.,SYR,United Kingdom of Great Britain and Northern I...,GBR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20054
92943,2022,Syrian Arab Rep.,SYR,Denmark,DNK,0,0,0,0,0,115,115,0,0,0,0,0,191,191,19459
97098,2022,Syrian Arab Rep.,SYR,Spain,ESP,0,0,0,0,0,7529,7529,0,0,0,0,0,9781,9781,17310
96291,2022,Syrian Arab Rep.,SYR,Norway,NOR,0,0,0,0,0,165,165,0,0,0,0,0,1124,1124,17253
95369,2022,Syrian Arab Rep.,SYR,Libya,LBY,975,1575,875,3056,163,0,6644,1094,1595,1026,3924,179,0,7818,14462
94713,2022,Syrian Arab Rep.,SYR,United States of America,USA,0,5,49,264,20,5,343,0,23,41,475,25,52,616,11944
92052,2022,Syrian Arab Rep.,SYR,Brazil,BRA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7809
92321,2022,Syrian Arab Rep.,SYR,Algeria,DZA,350,727,390,1508,70,0,3045,413,807,456,3001,81,0,4758,7803
94439,2022,Syrian Arab Rep.,SYR,United Arab Emirates,ARE,58,721,637,1841,142,0,3399,68,787,634,1903,169,0,3561,6960
95906,2022,Syrian Arab Rep.,SYR,Morocco,MAR,320,489,309,1191,82,0,2391,365,501,345,1803,111,0,3125,5516
91470,2022,Syrian Arab Rep.,SYR,Armenia,ARM,25,40,32,188,49,10,344,23,41,48,244,55,9,420,4912
95136,2022,Syrian Arab Rep.,SYR,Italy,ITA,0,0,0,0,0,359,359,0,0,0,0,0,552,552,4489
96921,2022,Syrian Arab Rep.,SYR,Saudi Arabia,SAU,88,475,345,929,72,0,1909,110,535,357,950,85,0,2037,3946
95530,2022,Syrian Arab Rep.,SYR,Luxembourg,LUX,0,0,0,0,0,261,261,0,0,0,0,0,679,679,3852

In [68]:
sirya['Total'].sum()

6719874

In [69]:
demographics[demographics['Year']==2022]['Total'].sum()

44642539

In [48]:
pd.DataFrame(demographics[demographics['Year']==2022].groupby(['Country of origin'])['Total'].sum().sort_values(ascending=False))

                                       Total
Country of origin
Syrian Arab Rep.                    28710588
Ukraine                             12177944
Afghanistan                         10179326
Venezuela (Bolivarian Republic of)   9973118
Colombia                             8751951
...                                      ...
Andorra                                   10
Cayman Islands                             5
Luxembourg                                 5
Palau                                      5
Micronesia (Federated States of)           5

[205 rows x 1 columns]

In [39]:
pd.DataFrame(demographics.groupby('Country of asylum')['Total'].sum().sort_values(ascending=False))

                                      Total
Country of asylum
Colombia                          115447648
Syrian Arab Rep.                   91115315
Dem. Rep. of the Congo             58530237
Sudan                              46873815
Pakistan                           44834839
...                                     ...
Saint Lucia                              21
Micronesia (Federated States of)         20
Vanuatu                                  20
Samoa                                    20
Palau                                    11

[188 rows x 1 columns]